In [1]:
import pandas as pd
import pickle

In [10]:
new_version_df = pd.read_pickle('/Users/mihirkhambete/Desktop/abides_project/abides/history_updates_df.pkl')
old_version_df = pd.read_pickle('/Users/mihirkhambete/Desktop/abides_original_test_correctness/abides/history_updates_df.pkl')

In [11]:
new_version_df.head()

,action_quantity,action_time,action_type,artificial_idx,history_len,num_prev_calls_get_recent_hist,order_id
0,31,2020-06-03 09:30:09.946074451,transaction,0,2474,1,5026
1,37,2020-06-03 09:30:09.726352073,transaction,1,2474,1,5025
2,26,2020-06-03 09:30:09.946074451,transaction,1,2474,1,5025
3,29,2020-06-03 09:30:09.066436200,transaction,2,2474,1,5024
4,46,2020-06-03 09:30:08.920039177,transaction,3,2474,1,5023

In [12]:
old_version_df.head()

,action_quantity,action_time,action_type,artificial_idx,history_len,num_prev_calls_get_recent_hist,order_id
0,31,2020-06-03 09:30:09.946074451,transaction,0,2474,0,5026
1,37,2020-06-03 09:30:09.726352073,transaction,1,2474,0,5025
2,26,2020-06-03 09:30:09.946074451,transaction,1,2474,0,5025
3,29,2020-06-03 09:30:09.066436200,transaction,2,2474,0,5024
4,46,2020-06-03 09:30:08.920039177,transaction,3,2474,0,5023

In [13]:
old_version_df.equals(old_version_df)

True

In [14]:
old_version_df.shape

(1758921, 7)